<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 {{ bodyId is defined ? bodyId }}"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 {{ bodyId is defined ? bodyId }}"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 {{ bodyId is defined ? bodyId }}"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 {{ bodyId is defined ? bodyId }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="{{ bodyId is defined ? bodyId }}"> <!--<![endif]-->
<head>
        <title>Harry&#8217;s &ndash; Tell Friends, Shave for Free</title>
        {% image '@SfPrelaunchrBundle/Resources/public/images/favicon.ico' %}
        <link rel="icon" href="{{ asset_url }}" type="image/x-icon">
        <link rel="shortcut icon" href="{{ asset_url }}" type="image/x-icon">
        {% endimage %}
        
        <meta property="og:title" content="Harry’s is coming!"/>
        <meta property="og:description" content="Shaving is evolving. Didn’t want to leave you all behind. Check out Harry’s here." />
        {% image '@SfPrelaunchrBundle/Resources/public/images/refer/truman.png' %}
        <meta property="og:image" content="{{ asset_url }}"/>
        {% endimage %}
        
        <meta property="og:url" content="{{ app.request.scheme ~'://' ~ app.request.httpHost }}"/>

        {% stylesheets 'bundles/sfprelaunchr/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
</head>
<body id="{{ bodyId is defined ? bodyId }}">

{% block body_content %}
{% endblock body_content %}

</body>
</html>
